.card{
    border:0;
    /* color:#f1f1f7; */
  }
   body{
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
  }
    #eror{
      display: none;
    }
    #spinners{
      display: none;
    }


    h1 {
        text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff,
            1px 1px 0 #fff;
        text-align: center;
    }

    .search-btn {
        padding: 1rem 3rem;
        outline: none;
        background-color: #000;
        color: #fff;
        border: 1px solid #fff;
        border-radius: 0.25rem;
        font-size: 18px;
        text-transform: uppercase;
        letter-spacing: 1px;
        cursor: pointer;
        transition-delay: 1.1s;
    }

    .search-btn:hover {
        background-color: #fff;
        color: #000;
        border: 1px solid #000;
    }